<div class="container">
 

     <div class="notification">
        <div class="columns is-desktop half-mobile
           is-one-quarter-tablet is-half-desktop is-half-widescreen
           is-half-fullhd">



           <div class="columns">

              <div class="column">
                 <h1 class="title">Lista de RFID</h1>
                 <table class="table">
                    <thead>
                       <tr>
                          <th><abbr><Strong>#</Strong></abbr></th>
                          <th><Strong>Numero RFID</Strong></th>
                          
                          <th><abbr><Strong>Status</Strong></abbr></th>
                          <th><abbr><Strong>Asignado a Alumno</Strong></abbr></th>
                       </tr>
                    </thead>
                    <tfoot>
                       <tr *ngFor="let rfid of rfids">
                          <th> {{rfid.id}} </th>
                          <th> {{rfid.number_rfid}} </th>
                          
                          <th> {{rfid.status}} </th>
                          <th> {{rfid.status}} </th>

                       </tr>
                    </tfoot>
                 </table>
              </div>
              <div class="column">
                 <h1 class="title">Registrar  RFID</h1>
                 <div class="field">
                    <div class="control">
                       <form [formGroup]="registerForm" (ngSubmit)="registrarRFID()">
                          <label class="label">Numero de RFID</label>
                          <input [(ngModel)]="rfidService.selectedRFID.number_RFID" class="input is-primary" type="text"
                             placeholder="Num _ RFID" formControlName="number_RFID">
                          <button type="submit" class="button is-success" style="margin-top:
                             5px;"> Registrar y Asignar despues</button>
                             <br>
                             <button (click)="openModalStudents()" class="button is-warning">Registrar y Asignar a un alumno</button>
                       </form>
                    </div>

                 </div>
              </div>
           </div>
        </div>

        <div #modalAsign class="modal">
         <div class="modal-background"></div>
         <div class="modal-card">
           <header class="modal-card-head">
             <p class="modal-card-title">Nuevo RFID detectado</p>
             <button class="delete" aria-label="close" (click)="cerrarModal()"></button>
           </header>
           <section class="modal-card-body">
             lista de alumnos disponibles
           </section>
           <footer class="modal-card-foot">
             <button routerLink="/rfid" class="button is-success"(click)="cerrarModal()" >Ir a la vista</button>
             <button class="button" (click)="cerrarModal()">Cancel</button>
           </footer>
         </div>
       </div>
      
       